.hero {
  padding: 50px;
  height: 100%;
}
h2 {
  margin: 20px 10px;
}
textarea {
  width: 70%;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  padding: 3px;
}
.list{
  border: none;
}
.light {
  background-color: antiquewhite;
  color: black;
}
.dark {
  background-color: rgb(19, 19, 19);
  color: rgb(236, 236, 236);
}
.green {
  background-color: #1c4934;
  color: #ffdd5b;
}
.blue {
  background-color: #4250EE;
  color: black;
}
.utilities {
  display: flex;
  flex-wrap: wrap;
  height: 35px;
}
.button {
  margin: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}
.button:hover {
  background-color: transparent;
}
.lightbtn {
  background-color: black;
  color: antiquewhite;
}
.darkbtn {
  background-color: rgb(236, 236, 236);
  color: rgb(19, 19, 19);
}
.greenbtn {
  background-color: #e0a534;
  color: #1c4934;
}
.bluebtn {
  background-color: #26213e;
  color: #4250EE;
}
.lightbtn:hover {
  border: 1px solid black;
  color: black;
}
.darkbtn:hover {
  border: 1px solid rgb(236, 236, 236);
  color: rgb(236, 236, 236);
}
.bluebtn:hover {
  border: 1px solid #26213e;
  color: #26213e;
}
.greenbtn:hover {
  border: 1px solid #e0a534;
  color: #e0a534;
}
.disc{
  margin: 30px 0;
}
.preview{
  position: relative;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 5px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.preview pre{
  font-size: 15px;
}
.manual{
  border: none;
}
